*{
    margin: 0px;
    padding: 0px;
}

@font-face {

    font-family: 'neuropolX';
    src: url("../gif/NeuropolXBold.ttf");
    font-weight: bold;
    font-style: normal;

}

header img{
    width: 100%;
    height: 100%;
}

body, html {
    position: relative;
    background-size:cover;
    background-image: url("../gif/ScreenBackground.png");  
    width: 100%;
    height: 90vh;

}
main{
    font-family: 'neuropolX';
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.player{
    width: 100%;
    height: 100%;
}
.molimte{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
}
.molimte path{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    bottom: 0px;
}
.rt{
    position: absolute;
    right: 13%;
    top:7%;
    width: 50px;
    visibility: hidden;
}
.rd{
    position: absolute;
    right: 13%;
    bottom:7%;
    width: 50px;
    visibility: hidden;
}
.lt{
    position: absolute;
    left: 13%;
    top:7%;
    width: 50px;
    visibility: hidden;
}
.ld{
    position: absolute;
    left: 13%;
    bottom:7%;
    width: 50px;
    visibility: hidden;
}
.visibility{
    visibility: visible;
}
.player1{ 
    flex-basis: 40%;
    position: relative;   
}
.player3{
    flex-basis: 40%;
    position: relative; 
}
.player2{
    flex-basis: 40%;
    position: relative;
}
.player4{
    flex-basis: 40%;
    position: relative;
}
.logo{
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 59%;
    align-items: center;
}
.logo img{
    width: 100%;
    margin-left: 8px;
}
.canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 5;
    width: 57%;
    overflow: hidden;
}
#game{
    width: 86%;
    padding-left: 4vw;
}
.infoBox{
    position: absolute;
    width: 62%;
    height: 100%;
    text-align: center;
}
.infoBoxR{
    position: absolute;
    width: 62%;
    height: 100%;
    right: 0;
    text-align: center;
}
.timer{ 
    position: relative;
    font-size: 3vw;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
}
.levo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}
.desno{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}
.textT{
    font-size: 1vh;
}
.popup{
    /* background-image: url("../gif/popup2.jpg"); */
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index:10;

}
.popup table{
    background: rgb(123, 221, 221, 30%);
    width: 44vw;
    height: 60vh;
    border-radius: 12px;
}
th{
    background: rgb(138, 43, 226, 30%);
    height: 40px;
}
.popup table tr:nth-child(odd){
    background-color: rgb(73, 73, 150, 30%);
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
    z-index: 10;
}
.player table {
    border-collapse: collapse;
    box-sizing: content-box;
}